.weather
{
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(211, 211, 211, 0.7);
}

.weather > h2
{
	margin: 0;
	margin-bottom: 5px;
	text-align: center;
}

.weather-row
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.weather-tile
{
	text-align: center;
	flex-basis: 50px;
}

.weather-tile > i
{
	font-size: 2em;
}

.weather-tile > p
{
	margin: 5px 0;
}
