.calendar thead, .calendar .day {
	background-color: rgba(211, 211, 211, 0.7);
}

.calendar .legend {
	margin: 5px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.calendar .legend .legendItem {
	margin: 0 10px;
	padding: .1em .5em;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
}

.calendar > h1 {
	text-align: center;
	margin: 5px 0;
}

.calendar, .calendar table {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.calendar tbody {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.week {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-grow: 1;
}

.week th {
	width: 14.285%;
}

.day {
	width: 14.285%;
	border: solid grey 1px;
	border-collapse: collapse;
	padding: 4px;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.day.past {
	background-color: rgba(250, 250, 250, 0.8);
}

.day.today {
	background: linear-gradient(0deg, rgba(211, 211, 211, 0.7), rgba(250, 250, 250, 0.8))
}

.dayHeader {
	display: flex;
	justify-content: space-between;
}

.event {
	font-size: .8em;
	margin: 2px 0;
	border-radius: 3px;
	padding: 2px;
	padding-left: 12px;
	text-indent: -10px;
}

.event.past
{
	white-space: nowrap;
	text-decoration: line-through;
	overflow: hidden;
}

.tagList .event {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
}
