.calendar > h1 {
	text-align: center;
	margin: 5px 0;
}

.calendar, .calendar table {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.calendar tbody {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.week {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-grow: 1;
}

.week th {
	width: 14.285%;
}

.day {
	width: 14.285%;
	border: solid grey 1px;
	border-collapse: collapse;
	padding: 4px;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.day.overflow {
	background-color: lightgrey;
}

.dayHeader {
	display: flex;
	justify-content: space-between;
}

.event {
	font-size: .8em;
	margin: 2px 0;
	border-radius: 3px;
	padding: 2px;
	padding-left: 12px;
	text-indent: -10px;
}

.tagList .event {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
}
