.aqi {
	text-align: center;
	font-size: 24pt;
}

.aqi.negligible {
	display: none;
}

.aqi.moderate {
	background-color: yellow;
}

.aqi.unhealthy_for_sensitive_groups {
	background-color: orange;
}

.aqi.unhealthy {
	background-color: red;
	color: white;
}

.aqi.very_unhealthy {
	background-color: purple;
	color: white;
}

.aqi.hazardous {
	background-color: darkred;
	color: white;
}
