.App {
	height: 100%;
	display: flex;
	flex-direction: row;

	background-image: url(/public/wp1918186.webp);
	background-size: cover;
}

.App #leftPane {
	width: 30%;
}

.App #rightPane {
	width: 70%;
}
